/* indian flower font */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower'); 

html, body
{
    height: 100%;
}
body
{
    /* Normalization */
    padding: 0;
    margin: 0;
    background-color: lavenderblush;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
img
{
    
}

/* Cntering div*/
div 
{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}


h1
{
    text-shadow: 20px 20px 40px bisque; /* left/right up/down blurr colour*/
}
a:hover
{
    color: mistyrose;
    font-size: x-large;
}
nav ul li a
{
    text-decoration: none;
    color: crimson;
    font-size: large;
    transition: 0.3s;
    height: 10px;
    padding: 20px; /* for top */
    margin: 20px; /* for spread icons */

}
nav ul li
{
    display: inline;

}
nav ul
{
    background: rgba(0,0, 0 ,0.5);
    width: 100%;
}

img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}